<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <title>Database</title>
    <title>Document</title>
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
              <style>
                    body{
                        background: url(https://assets.simpleviewinc.com/simpleview/image/upload/crm/providence/photo-1525812497894-356bd94ffff90_737bf9b3-5056-a36a-097d574039ed7262.jpg)
                    }
                    th{
                          border: 2px solid white;
                    }
                  </style>
    {% block links %}
    
    {% endblock %}
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(240, 229, 230)">
               <div class="container">
                {% block navlogin %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="">Home</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login!</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register!</a></li>
                    <li  class="nav-item"><a class="nav-link" href="admin">Admin</a></li>
                </ul>
                {% endblock %}
               </div>
        </nav>
         {% block messageblock %}
         {% endblock %}
        
    <div class="contaner">
         {% block content %}
                <h2 style="text-align: center; color: aliceblue;padding: 3%; background: rgba(255, 255, 255, 0.486)"><strong><i>Welecom to Webapp</i></strong></h2>
    
          
          {% endblock %}
    </div>
    {% block notify%}
    {% endblock %}
</body>
</html>